<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Framework Guru</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css}"
          rel="stylesheet"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
          crossorigin="anonymous" />

    <link href="https://v4-alpha.getbootstrap.com/examples/cover/cover.css"
          th:href="@{/webjars/examples/cover/cover.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1 align="center">Welcome to the Making Devs Facturation Centre</h1>
        <img src="../static/img/Logo-Makingdevs.png" width="300" align="centre"
             th:src="@{img/Logo-Makingdevs.png}"/>
        <h2>Fellow Spring Framework Gurus!!!</h2>
    </div>
</div>

</body>
</html>