<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>HAMP</title>
     
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen" />

    <link href="/css/style.css" rel="stylesheet" media="screen" />
 
</head>
<body>

<div class="container">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Inicio</a>
                    <ul class="nav navbar-nav">
                        <li><a href="/products">Lista Productos</a></li>
                        <li><a href="/product/new">Nuevo Producto</a></li>
                    </ul>

                </div>
            </div>
        </nav>

        <div class="jumbotron">
            <div class="row text-center">
                <div class="">
                    <title>Making Devs</title>

                    <h3>Sistema de Facturacion de MakingDevs</h3>
                </div>
            </div>
            <div class="row text-center">
                <img src="/img/Logo-Makingdevs.png" width="300" />
            </div>
        </div>

</div>
</body>
</html>